nav {
  background: #D35400;
  padding: 1.25rem;
  margin-bottom: 2rem;

  ul {
    list-style: none;
    li {
      display: inline;
      margin-right: 3em;
    }
  }
  a {
    color: #ECF0F1;
    font-size: 1.5rem;
  }

}
