<h1><%= @contact["Name"] %></h1>

<ul>
  <li><strong>Company</strong>: <%= @contact["Company"] %></li>
  <li><strong>Email</strong>: <%= @contact["Email"] %></li>
  <li><strong>Phone</strong>: <%= @contact["Phone"] %></li>
</ul>
